// COLORS //

$font-large: 2.5rem;
$font-medium: 1.25rem;
$font-small: .85rem;


$blue-1: #0d9dda;
$salesforce-blue: $blue-1;

$blue-2: #032d60;
$blue-3: #0176d3;
$blue-4: #90d0fe;

$neutral-1: #f5f2f2;
$neutral-2: #59575c;

$sf-red: #8a033e;
$sf-green: #396547;
$sf-yellow: #e4a201;

$drop-shadow-default: drop-shadow(1.5px 1.5px 1.5px $neutral-2);


.body {
    display: grid;
    grid-gap: 1em;
}

.pie-landscape {
    height: 100%;
    width: 25%;
    margin: 5%;

}

.app {
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: $font-medium;
    padding: .3rem;
}

.navbar {
    width: 100%;
    height: 8rem;
    background-color: $blue-2;
    color: $neutral-1;
    filter: $drop-shadow-default;

    h1 {
        font-size: 2.5rem;
        color: $neutral-1;
        padding-left: 5px;
        letter-spacing: .1rem;
    }

    .sf-logo {
        width:90px;
        margin: 5px;
    }

    .flex {
        display: flex;
        order: 2;
        flex-direction: row;
        align-self: flex-start;
        align-items: center;
    }
}

.main {
    display: flex;
    order: 2;
    flex-direction: row;
    align-self: flex-start;
    align-items:flex-start;
}


.component {
    margin: 1.85rem;
    padding: .85rem;
    width:28%;
    height: 35%;
    background-color: $blue-2;
    color: $neutral-1;
    text-align: center;
    filter: $drop-shadow-default;

    .header {
        display: flex;
        order: 2;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        align-self: baseline;
        align-items: center;
        border-bottom: 1px solid $blue-4;
    }
    
    h1 {
        font-size: 4.5rem;
        font-weight: 450;
        letter-spacing: .5rem;
        line-height: 1;
    }

    h2 {
        font-size: 1.95rem;
        font-weight: 150;
        padding-left: 1.5rem;
        letter-spacing: .25rem;
    }

    span {
        letter-spacing: .1rem;
        font-weight: 100;
        margin-top: 1rem;
        font-style: italic;
    }

    .split {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .tibar {
        padding-top: 10%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.midbar {
    .container {
        display: flex;
        order: 3;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-self: center;
        align-items: center;
        padding-right: 2rem;
    }
    .item {
        font-weight: 550;
        flex-grow: 1;
        flex-shrink: 1;
        // border: 1px solid $neutral-1;
        // border-right: 1px solid $neutral-1;
        padding: .5em;
        margin-top: .5rem;
        }
}

.bottombar {
    margin-top: 1.5rem;
    text-align: left;
    text-decoration: underline;
}

.soicon {
    --sds-c-icon-color-background:#0d9dda;
    margin: .5rem;
}